@import url('master.css');

:root {
    --bold-fw:              900;
    
    --main-head-drop:       -2px 2px 3px rgba(0,0,0,0.5);
    --main-head-p-top:      30px;
    --main-head-size:       55px;
    
    --photo-wrap-width:     90%;
    --photo-wrap-m-left:    10%;
    
    --person-box-width:     200px;
    --person-box-height:    250px;
    --person-box-radius:    3px;
    --person-box-drop:      -3px 3px 4px rgba(0,0,0,0.6);
    --person-box-m-left:    1%;
    --person-box-m-right:   1%;
    --person-box-m-bottom:  20px;
    --person-box-border:    3px solid black;
    --person-box-background:repeating-linear-gradient(
                            45deg,
                              var(--highlight-text-color),
                              var(--highlight-text-color) 1px,
                              var(--secondary-color) 1px,
                              var(--secondary-color) 5px
                            ); 
    
}


#big-box h1 { /* Main page headers */
    text-align:         center;
    font-family:        var(--font2);
    font-weight:        var(--bold-fw);
    color:              var(--highlight-text-color);
    text-shadow:        var(--main-head-drop);
    padding-top:        var(--main-head-p-top);
    font-size:          var(--main-head-size);
}

#photo-wrapper {
    width:              var(--photo-wrap-width);
    margin-left:        var(--photo-wrap-m-left);
}
.person-box {
    display:            inline-block;
    width:              var(--person-box-width);
    height:             var(--person-box-height);
    background:         var(--person-box-background);
    border-radius:      var(--person-box-radius);
    box-shadow:         var(--person-box-drop);
    margin-left:        var(--person-box-m-left);
    margin-right:       var(--person-box-m-right);
    margin-bottom:      var(--person-box-m-bottom);
    border:             var(--person-box-border);
}

.person-text p {
    color: white;
    font-family: var(--font2);
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}
.person-text p:first-child {
    font-size: 24px;
    font-weight: 900;
}

.person-photo {
    width: 200px;
}
div {
    overflow: hidden;
}
#lower-pub-nav img {
    width: 70px;
}
#lower-pub-nav-arrow {
    background: var(--tertiary-color);
    position: fixed;
    width: 70px;
    top: 120px;
    left: calc(100% - 70px);
    border-bottom-left-radius: 10px;
}

#lower-pub-nav img {
    width: 70px;
}

#pub-nav-arrow {
    background: var(--tertiary-color);
    position: fixed;
    width: 70px;
    top: 120px;
    left: calc(100% - 70px);
    border-bottom-left-radius: 10px;
}
#lower-pub-nav li  {
    margin-left: 5px;
    display: inline-block;
}
#lower-pub-nav li  p {
    color: white;
}
#lower-pub-nav li  p:hover {
    color: var(--tertiary-color);
}
#lower-pub-nav li a  {
    padding-bottom: 5px;
    padding-top: 0px;
}
#lower-pub-nav {
    width: 100%;
    height: 30px;
    background: var(--highlight-text-color);
    margin: 0px;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.4);
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#lower-pub-nav ul li:first-child p:hover {
    color: var(--tertiary-color);
}
#lower-pub-nav ul li:first-child p {
    color: var(--tertiary-color);
}
#lower-pub-nav ul li:first-child {
    width: 200px;
}
#lower-second-ul {
    padding: 0px;
    margin: 0px;
    width: 30%;
    float: right;
}
#lower-second-ul li {
    padding-left: 25px;
    width: 150px;
}
#lower-second-ul li p:hover {
    color: var(--tertiary-color);
}
ul#lower-second-ul li:first-child p {
    width: 150px;
    color: white;
}
#lower-pub-nav ul:first-child {
    width: 65%;
    margin-right: 0px;
    padding-right: 0px;
}
#lower-pub-nav ul {
    display: inline;
}
ul p {
    font-size: 20px;
    font-family: var(--font);
}
#collapse-all, #expand-all {
    width: 175px;
    height: 40px;
    position: absolute;
    background: var(--highlight-text-color);
    border-radius: 10px;
    font-family: var(--font2);
    font-weight: 900;
    color: white;
    box-shadow: -3px 3px 4px rgba(0,0,0,0.4);
    left: 57.5%;
}

#collapse-all p, #expand-all p {
    margin-left: 20%;
}

#collapse-all img, #expand-all img {
    height: 100%;
    float: right;
}

#people-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 120px;
    left: 0px;
    background: #000;
    opacity: 0.8;
    margin: 0px;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.9);
}
#people-nav ul li:first-child p:hover {
    color: var(--tertiary-color);
}
#people-nav ul li:first-child p {
    color: var(--tertiary-color);
}
#people-nav ul li:first-child {
    width: 70px;
}
#second-ul {
    width: 300px;
    position: fixed;
    top: 120px;
    left: 70%;
}
#second-ul li {
    padding-left: 25px;
    width: 150px;
}
#second-ul li p:hover {
    color: var(--tertiary-color);
}
ul#second-ul li:first-child p {
    width: 150px;
    color: white;
}
#people-nav img {
    width: 70px;
}
#people-nav li, #second-ul li {
    display: inline;
}
#header {
    box-shadow: 0px 0px 0px white !important;
    border-bottom: 1px dotted white !important;
}
#people-nav li  {
    margin-left: 5px;
    display: inline-block;
}
#people-nav li  p {
    color: white;
}
#people-nav li  p:hover {
    color: var(--secondary-color);
}
#people-nav li a  {
    padding-bottom: 5px;
    padding-top: 0px;
}
#people-nav p {
    margin-top: 0px;
}
.1 .person-box:hover {
    border:             3px solid var(--highlight-text-color);
    box-shadow:         -6px 6px 7px rgba(0,0,0,0.8);
}
.person-box a div {
    width: 50px;
    height: 50px;
    background: var(--quaternary-color);
    border-radius: 50%;
    margin-left:    40%;
}

a div img {
    width: 60%;
    padding-left: 20%;
    padding-top: 20%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
